.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: getColor("bgc");
  text-align: center;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__btn {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  font-size: 16px;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 216px;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: getColor("sub-accent");
  color: getColor("accent-color");

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: getColor("hover-accent");
  }
}
.hero__headline {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: getColor("accent-color");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
