.logo {
  @include color(getColor("logo"));
  @extend %logo-text;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 0;
  margin-right: 93px;
}
.logo__base {
  color: getColor("sub-accent");
}
.footer-page__logo {
  @include color(getColor("accent-color"));
  padding: 0;
  margin-bottom: 0 0 20px 0;
}
